:root {
    --accent-color: #404bbf;
    --primary-text-color: #434455;
    --secondary-color: #2E2F42;
}

.list {
list-style: none;
}
.link {
    text-decoration: none;
}


/*==============header============= */

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #4D5AE5;
}
.header-logo{
    color:var(--secondary-color);
}
.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondary-color);
}
.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.address {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: var(--primary-text-color);
}
.address:hover,
.address:focus {
    color: var(--accent-color);
}

/*=============== body============ */
.body {
       font-family: "Roboto", sans-serif;
        color: var(--secondary-color);
}
.hero-section {
    background-color: var(--secondary-color);
}
.modal-btn {
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        cursor: pointer;
        background-color: #4D5AE5;
        color: #FFFFFF;
}
.modal-btn:hover,
.modal-btn:focus {
background-color:#404BBF; ;
}
.filter-btn-activ {
        font-weight:500;
        font-size: 16px;
        line-height: 1.5;
        cursor: pointer;
        color: #4D5AE5;
}
.main-title{
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        color: #FFFFFF
}
.section-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        color: #2E2F42;
}
.card-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: var(--secondary-color);
}
.feature{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: var(--primary-text-color);
}

/*================= body ==============*/
/* =======footer===== */
.footer-color {
    background-color: #2E2F42;
}
.fotter-text{
    color: #E7E9FC;;
}
.footter-logo{
    color: #F4F4FD;
}